@font-face {
  font-family: Vazir;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Vazir.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: Vazir;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Vazir-Bold.woff') format('woff');
  font-weight: bold;
}

@font-face {
  font-family: Samim;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Samim.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: Samim;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Samim-Bold.woff') format('woff');
  font-weight: bold;
}

@font-face {
  font-family: Shabnam;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Shabnam.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: Shabnam;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Shabnam-Bold.woff') format('woff');
  font-weight: bold;
}

@font-face {
  font-family: Sahel;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Sahel.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: Sahel;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Sahel-Bold.woff') format('woff');
  font-weight: bold;
}

@font-face {
  font-family: Parastoo;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Parastoo.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: Parastoo;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Parastoo-Bold.woff') format('woff');
  font-weight: bold;
}

@font-face {
  font-family: Gandom;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Gandom.woff') format('woff');
}

@font-face {
  font-family: Tanha;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Tanha.woff') format('woff');
}

@font-face {
  font-family: Behdad;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Behdad.woff') format('woff');
}

@font-face {
  font-family: Nika;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Nika.woff') format('woff');
}

@font-face {
  font-family: Shahab;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Shahab.woff') format('woff');
}

@font-face {
  font-family: GanjNameh;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/GanjNameh.woff') format('woff');
}

@font-face {
  font-family: Pfont;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Pfont.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: Pfont;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Pfont-Bold.woff') format('woff');
  font-weight: bold;
}

@font-face {
  font-family: NotoNaskh;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/NotoNaskh.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: NotoNaskh;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/NotoNaskh-Bold.woff') format('woff');
  font-weight: bold;
}

@font-face {
  font-family: DroidNaskh;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/DroidNaskh.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: DroidNaskh;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/DroidNaskh-Bold.woff') format('woff');
  font-weight: bold;
}

@font-face {
  font-family: IranianSans;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/IranianSans.woff') format('woff');
}

@font-face {
  font-family: Mikhak;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Mikhak.woff2') format('woff2');
}

@font-face {
  font-family: Mikhak;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Mikhak-Bold.woff2') format('woff2');
  font-weight: bold;
}

body.persian-twitter-vazir, body.persian-twitter-vazir .TwitterCard {
  font-family: Vazir, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  word-spacing: -1px;
}

body.persian-twitter-samim, body.persian-twitter-samim .TwitterCard {
  font-family: Samim, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

body.persian-twitter-shabnam, body.persian-twitter-shabnam .TwitterCard {
  font-family: Shabnam, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

body.persian-twitter-sahel, body.persian-twitter-sahel .TwitterCard {
  font-family: Sahel, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

body.persian-twitter-parastoo, body.persian-twitter-parastoo .TwitterCard {
  font-family: Parastoo, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  word-spacing: -1px;
}

body.persian-twitter-gandom, body.persian-twitter-gandom .TwitterCard {
  font-family: Gandom, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

body.persian-twitter-tanha, body.persian-twitter-tanha .TwitterCard {
  font-family: Tanha, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  word-spacing: -1px;
}

body.persian-twitter-behdad, body.persian-twitter-behdad .TwitterCard {
  font-family: Behdad, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

body.persian-twitter-nika, body.persian-twitter-nika .TwitterCard {
  font-family: Nika, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

body.persian-twitter-shahab, body.persian-twitter-shahab .TwitterCard {
  font-family: Shahab, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

body.persian-twitter-ganjnameh, body.persian-twitter-ganjnameh .TwitterCard {
  font-family: GanjNameh, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

body.persian-twitter-pfont, body.persian-twitter-pfont .TwitterCard {
  font-family: Pfont, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

body.persian-twitter-notonaskh, body.persian-twitter-notonaskh .TwitterCard {
  font-family: NotoNaskh, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

body.persian-twitter-droidnaskh, body.persian-twitter-droidnaskh .TwitterCard {
  font-family: DroidNaskh, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

body.persian-twitter-iraniansans, body.persian-twitter-iraniansans .TwitterCard {
  font-family: IranianSans, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  word-spacing: -1px;
}

body.persian-twitter-mikhak, body.persian-twitter-mikhak .TwitterCard {
  font-family: Mikhak, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  word-spacing: -1px;
}

body.persian-twitter-fixed-font-size .TweetTextSize.TweetTextSize--13px,
body.persian-twitter-fixed-font-size .TweetTextSize.TweetTextSize--16px,
body.persian-twitter-fixed-font-size .TweetTextSize.TweetTextSize--22px,
body.persian-twitter-fixed-font-size .TweetTextSize.TweetTextSize--26px,
body.persian-twitter-fixed-font-size .TweetTextSize .twitter-atreply b,
body.persian-twitter-fixed-font-size .TweetTextSize .twitter-hashtag b {
  font-size: 1rem !important;
  font-weight: 400 !important;
}

body[class*="persian-twitter"] blockquote,
body[class*="persian-twitter"] dl,
body[class*="persian-twitter"] dd,
body[class*="persian-twitter"] h1,
body[class*="persian-twitter"] h2,
body[class*="persian-twitter"] h3,
body[class*="persian-twitter"] h4,
body[class*="persian-twitter"] h5,
body[class*="persian-twitter"] h6,
body[class*="persian-twitter"] figure,
body[class*="persian-twitter"] p,
body[class*="persian-twitter"] pre {
  margin-top: 3px;
}

body[class*="persian-twitter"] .ProfileCardStats-statLabel {
  line-height: 1.4;
}

body[class*="persian-twitter"] .stream-item .content, .permalink-tweet .content {
  padding: 0 4px;
}

body[class*="persian-twitter"] .ProfileHeaderCard-screenname {
  width: 100%;
}

body[class*="persian-twitter"] .prf-follow-state {
  width: 130px;
}

body[class*="persian-twitter"] .prf-stats {
  width: 310px;
}

body[class*="persian-twitter"] .nav > li > a .text {
  margin-top: 19px;
}

body[class*="persian-twitter"] .ProfileTweet-actionCount {
  vertical-align: middle;
  height: 0.7em;
}

body.persian-twitter-vazir .ProfileTweet-actionCount {
  height: 0.8em;
}

body.persian-twitter-notonaskh .ProfileTweet-actionCount,
body.persian-twitter-behdad .ProfileTweet-actionCount,
body.persian-twitter-nika .ProfileTweet-actionCount,
body.persian-twitter-shahab .ProfileTweet-actionCount,
body.persian-twitter-ganjnameh .ProfileTweet-actionCount {
  height: 0.6em;
}

body.persian-twitter-pfont .ProfileTweet-actionCount {
  height: 0.5em;
}

body[class*="persian-twitter"] .global-dm-nav.new.with-count .dm-new .count-inner,
body[class*="persian-twitter"] .global-nav .people .count .count-inner {
  padding: 3px 4px 2px;
}
